﻿/*------共通部分-ヘッダー、フッター------*/
.header{font-size: 16px;position:fixed;background-color:#fff ;top:-1px;z-index:2;height: 81px;width:100%; max-width: 100%; overflow: hidden;height: auto;}
  .left{position:static;left:10px;top:5px;z-index:3;width:700px;max-width: 100%;height: auto;}
  .center{ position:fixed;left:500px;top:15px; ;z-index: 4;height:30px;font-size:18;width:500px;max-width: 100%;height: auto;font-family:arial black;}
  .form{position:fixed;top:5px;right:10px;z-index: 4;}
  .footer{height: 220px;width:100%; text-align:center;font-size:20;color:white; background-color:#043c78; overflow: hidden;}
  a{color:black;text-decoration: none;}
  a.lv{font-size:18 ;color:white;text-decoration: none;}
  body{font-family: "arial, ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; margin: 0; width: 100%; height: 100%;}
  html{margin: 0; width: 100%; height: 100%;}

/*------ここまで共通部分------*/

/*------トップページ------*/


#video-container{
width: 100%;
}

video{
  width: 100%;
  margin: 0 auto;
}

.content{
  position: relative;
  margin: 0 auto;
  height: 850px;
}

.content h2{
}

.cnt1{
  position: relative;
  top: 200px;
  left: 110px;
  width: 274px;
}

.cnt1 h2{
  height: 230px;
  background-color: #27f442;
}

.cnt2{
  position: absolute;
  top: 60px;
  left: 514px;
  width: 274px;
}

.cnt2 h2{
  height: 230px;
  left: 0;
  bottom: 0;
  background-color: #fea8a8;
}

.cnt3{
  position: absolute;
  top: 220px;
  right: 129px;
  width: 274px;
}

.cnt3 h2{
  height: 230px;
  background-color: #ffc956;
}

.information{
  background: #CCC;
  overflow: hidden;
}

.info-title{
  margin: 30px 0 20px 0;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
}

.info{
  list-style: none;
  padding-left: 0px;
  width: 100%;
  position: relative;
  left: 95px;
}

.info li{
  width: 280px;
  float: left;
  padding: 4px;
  display: inline-block;
  text-align: center;
}

.info li:hover{
  background-color: #c7d1e0;
}

.box-news a:hover{
  color: #1c1ca8;
}

/*------ここまでトップページ------*/

/*------料金・アクセス------*/

.banner_haikei{
  text-align: center;
  background-color:;
  padding-bottom: 50px;
}

.chara1{
  display: inline-block;
  width: 180px;
  position: relative;
  top:20px;
  left:50px;
  transform: rotate(-20deg);/*斜め向ける*/
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

.chara2{
  display: inline-block;
  width:180px;
  position: relative;
  right: 70px;
  bottom: 170px;
  transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}

.banner{
  display: inline-block;
  margin-top: 130px;
}

.nyuujou_haikei{
  background-color: #EEEFFE;
  padding-bottom: 120px;
  padding-top: 100px;
  text-align: center;
}

.nyuujou_haikeiinner{
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 30px;
  display: inline-block;
  text-align: left;
  width:90%;
}

.nyuujou{
  text-align: center;
  margin-bottom: 70px;
}

.nyuujou2{
  margin-top: 20px;
  border-bottom: dashed 2px orange;
  width: 90%;
  letter-spacing: 3px;
  font-size: 28px;
  display: inline-block;
  text-align: center;
}

.nyuujou_img{
  margin-right: 8px;
  display: inline-block;
  text-align: left;
}

.ryoukin {
  margin-left: 80px;
  margin-bottom: 120px;
}

.ryoukin_label{
  border-bottom: solid 3px #8181F7;
  display: block;
  width: 88%;
  letter-spacing: 3px;
  font-size: 23px;
}

.ryoukin_box {
  margin: 0px 15px 15px 15px;
  background: #f1f1f1;
  border: solid 1px #A9BCF5;
  width: 18%;
  display: inline-block;
}

.ryoukin_box .box_title {
  font-size: 12.5px;
  background: #A9BCF5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 20px 0px 20px 0px;
  text-align: center;
  color: #FFF;
  letter-spacing: 1px;
}

.ryoukin_box p {
  padding: 20px 20px;
  margin: 0;
  text-align: center;
}

.ticket{
  margin-right: 8px;
}

#dougaku {
  margin-top: -110px;
  margin-left: 80px;
}

.year_pass {
  padding: 1.5em 2em;
  margin: 90px 0px 15px 120px;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 1px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 70%;
}

.year_pass2 {
  padding: 1.5em 2em;
  margin: 50px 0px 15px 120px;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 1px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 70%;
}

.year_pass p {
  margin: 0;
  color: #6091d3;
}

.year_pass2 p {
  margin: 0;
  color: #6091d3;
}

.houhou {
  font-weight: bold;

}

.setsumei {
  font-size: 14px;
  color: #6091d3;
}

.access{
  text-align: center;
}

.access_haikei{
  text-align: center;
  background-color: #9FBCDF;
  padding:90px 0 130px 0;
  display: inline-block;
  width: 100%;
}

.access_haikei_inner{
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;
  display: inline-block;
  width: 90%;
}

.access2{
  text-align: center;
  margin-top: 0px;
  letter-spacing: 3px;
  border-bottom: dashed 2px orange;
  width: 90%;
  font-size: 28px;
  display: inline-block;
  text-align: center;
}

.access_img{
  margin-right: 0px;
  display: inline-block;
  text-align: left;
}

#access_address{
  font-size: 16px;
  text-align: left;
  margin: 0 0 25px 120px;
}

.map{
  text-align: center;
  margin-bottom: 60px;
}

.map iframe{
  display: inline-block;
}

.access_train{
  text-align: center;
  padding-top: 130px;
  margin-bottom: 30px;
  background-image: url("../img/kurage.jpg");
  background-size: cover;
  padding-bottom: 130px;
}

.access_trainback{
  background-color: white;
  padding-bottom: 40px;
  width:90%;
  display: inline-block;
}

.trainicon_img{
  margin-right: 7px;
}

#train1{
  text-align: left;
  margin-left: 20px;
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
}

#train2{
  text-align: left;
  margin-left: 50px;
  margin-top: 0;
}

#train2 span{
  font-size:13px;"
}
/*------ここまで料金・アクセス------*/

/*------フロアマップ------*/
.froormap_icon{
  margin-right: 5px;
}

.froormap_haikei{
  margin-top: 130px;
  text-align: center;
}

.froormap_label{
  font-size: 28px;
  display: inline-block;
}

.main_haikei{
  background-color: #DADCFD;
  text-align: center;
  width: 100%;
  position: relative;
}

#shikaku{
  width: 1341px;
}


.froormap_img{
  display: inline-block;
}

.click{
opacity: 0;
color: #7F0E82;
}

#click1{
position: absolute;
bottom: 220.6px;
left: 884.5px;
}

#click2{
position: absolute;
bottom: 260px;
left: 759.5px;
}

#click3{
  position: absolute;
  bottom: 228px;
  left: 1010px;
}

#click4{
  position: absolute;
  bottom: 174px;
  left: 1027.4px;
}

#click5{
  position: absolute;
  bottom: 138px;
  left: 966.4px;
}

#click6{
  position: absolute;
  bottom: 126px;
  left: 900.4px;
}

#click7{
  position: absolute;
  bottom: 89px;
  left: 776.4px;
}

#click8{
  position: absolute;
  bottom: 154px;
  left: 677.4px;
}

#click9{
position: absolute;
bottom: 191.6px;
left: 809.5px;
}

#click10{
position: absolute;
bottom: 206.6px;
left: 765.5px;
}

#click11{
position: absolute;
bottom: 501.6px;
left: 846.5px;
}

#click12{
position: absolute;
bottom: 461.6px;
left: 766.5px;
}

#click13{
position: absolute;
bottom: 380.6px;
left: 678.5px;
}

#click14{
position: absolute;
bottom: 491.6px;
left: 626.5px;
}

#click15{
position: absolute;
bottom: 601.6px;
left: 473.5px;
}

#click16{
position: absolute;
bottom: 629.6px;
left: 586.5px;
}

#click17{
position: absolute;
bottom: 723.6px;
left: 453px;
}

#ika{
  position: absolute;
  bottom: 600px;
  left: 1150px;
}

#manbou{
position: absolute;
  bottom: 350px;
  left: 40px;
}

#kurage{
  position: absolute;
  bottom: 120px;
  left: 1150px;
}

#tenjiichiran{
text-align: center;
}

.tenji_label{
  font-size: 28px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 70px;
}

.tenji_icon{
  margin-right: 12px;
}

.syoukai_block{
text-align: center;
}

.title_box1 {
  position: relative;
  margin: 2em 0;
  background: #B2E2EC;
  color: ;
  font-weight: bold;
  display: inline-block;
  padding: 25px 30px 25px 30px;
  right: 40%;
  top: 58px;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.title_box1:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #B2E2EC;
  width: 0;
  height: 0;
}
.title_box1 p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: #38383E;
}

.title_box2 {
  position: relative;
  margin: 2em 0;
  background: #FBFC97;
  color: #38383E;
  font-weight: bold;
  display: inline-block;
  padding: 25px 30px 25px 30px;
  right: 40%;
  top: 58px;
  transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
.title_box2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #FBFC97;
  width: 0;
  height: 0;
}
.title_box2 p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color:#38383E;
}

.setsumei_box{
  padding: 20px 20px 20px 20px;
  border: double 3px #6495ED;
  width: 88%;
  display: inline-block;
  height: 250px;
}

.setsumei_box p{
  color: #38383E;
  display: table-cell;
  padding-top: 80px;
  padding-left: 100px;
}

.syoukai_img{
  width: 30%;
  float: right;
  margin-top: -170px;
  padding-right: 70px;
}

#tenji_bottom{
  padding-bottom: 100px;
  width:100%;
}

.modoru_btn{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  top: 80%;
  left: 89.5%;
  position: fixed;
  z-index: 2;
}

.modoru_btn:hover{
    background: #668ad8;
}

#tenji_bottom img{
  margin-top: 15px;
  opacity: 0.7;
}

#tenji_bottom p{
  margin-top: -95px;
  opacity: 0.8;
  color: #fff;
  letter-spacing: 0.7px;
}


/*------ここまでフロアマップ------*/

/*------ここからスケジュール------*/
.schedule{
  position:relative; top:130px; width:150px; height:50px; text-align:center; margin-left:auto; margin-right:auto; font-size:20; background-color:#99ccff;
}

.calendar_background{
  position:relative; width:80%; height:130%; top:15%; margin-left:auto; margin-right:auto; z-index: 1;background: linear-gradient(#99ccff, #003399)
}

.calendar_background2{
  position:relative; top:-105%; width:75%; height:110%; margin-left:auto; margin-right:auto; z-index:1; background-color:white
}

h5{
  text-align; font-size:25
}

table{
  position:relative; top:-203%; margin-left:auto; margin-right:auto; z-index:1
}

.sunday{
  background-color:#f08080
}

.saturday{
  background-color:#48d1cc
}

p{
  color:black; font-size:18; margin:8
}


/*------ここまでスケジュール------*/


/*------ここからイベントページ------*/
.size{
font-size: 16px;
}

.ivent_top{
  text-align: center;
  background-color: #ffc000;
  width: 100%;
  position: relative;
}

#ivent_img{
  display: inline-block;
  width: 100%;
  padding-top: 150px;
}

.ivent_syousai{
  margin: 150px 15px 100px 15px;
  display: inline-block;
  width: 70%;
}

.ivent_syousai .ivent_title {
  font-size: 30.5px;
  background: #535353;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 50px 0px 50px 0px;
  text-align: center;
  color: #FFF;
  letter-spacing: 2px;
}

h2{
  text-align: center;
color: #505050;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
display: inline-block;/*おまじない*/
line-height: 1.3;/*行高*/
background: #dbebf8;/*背景色*/
vertical-align: middle;/*上下中央*/
border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
width: 210px;
top: 930px;
right: 950px;
position: absolute;
transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
}

h2:before {
content: '●';
color: #ffc000;
margin-right: 8px;
}

.ivent_syousai p {
  font-size: 25px;
  text-align: center;
}

.setsu{
  margin-top: 110px;
}

.kaisai{
  border: 0.2px solid;
  border-color: ;
  display: inline-block;
  width: 85%;
  padding: 40px 15px 40px 15px;
  margin: 0;
}



#korabo_img{
  display: block;
  width: 70%;
  margin:auto;
  margin-top: 100px;
  width="700";height="400"
  padding-top: 150px;
}


#korabo_img2{
  display: block;
  width: 70%;
  margin:auto;
  margin-top: 1x;
  width="700";height="400"
  padding-top: 150px;

}

#korabo1_img{
transform: scale(-1, 1)
}




#korabo_info{
  color: white;
  font-size: 18pt;
  display: block;
  width:50%;
  margin:auto;
  text-align: center;
}

.korabo_info1{
  color: white;
  font-size: 14pt;
  text-align: center;
}

.korabo{
  display: block;
  width:70%;
 margin:auto;

   background: radial-gradient(#192f60, #17184b);
   align:center
}

.setumei{
  color: white;font-size: 13pt;
  text-align: center;
    margin:auto;
  width: 80%;
  padding: 10px


}

/*------ここまでイベントページ------*/

/*------ここから年パス------*/
#info_yearpass_img{
  position: absolute;
  padding-top: 0;
  padding-left: 20px;
  width:100%;
  background-image: url("../img/rakko.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#moji{
  position: relative;
  width:100%;
  height: 100%
  top: -200px;
  left:-20px;
  background: rgba(255,255,255,0.5);
}

.nennpasu_setsumei{
position: relative;
top:800px;
padding-top: 60px;
text-align: center;
}

.nennpasu_setsumei p{
  font-size: 30px;
}

.passport{
  display: inline-block;
}
.nenpass {
  position: relative;
  top: 800px;
  width:1340px;
  display: inline-block;
}

.footer2{
  height: 220px;
  width:100%;
  text-align:center;
  font-size:20;
  color:white;
  background-color:#043c78;
  position: relative;
  top: 1000px;
}
/*------ここまで年パスページ------*/


/*------ここからもうどく展ページ------*/
.moudokuten_top{
  text-align: center;
  background-color: #120715;

}

.top-image{
  padding: 100px;
  margin: 0 auto;
}

#moudokuten_img{
  width: 100%;
}

.moudokuten_syousai{
  color: #FFF;

}

.moudokuten_syousai img{
  width: 315px;
}

.moudokuten_syousai p{
  padding-bottom: 50px;
  margin-bottom: 0;
}

.moudokuten_syousai p{
  color: #ce81e2;
}

.moudokuten_syousai a{
  font-size: 20px;
  color: #FFF;
}

.moudokuten_syousai a:hover{
  font-size: 20px;
  color: #dbea0e;
}


/*------ここまでもうどく展ページ------*/
